*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    min-width: 400px;
}

input,
button{
    border-radius: 5px;
}

input{
    border: 1px solid #5f9341;
    font-size: 1.25rem;
    padding: .3em 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
}

button{
    border: 0;
    background-color:#5f9341 ;
    text-transform: uppercase;
    font-weight: 700;
    color:#fff ;
    padding: .7em 1.5em;
    cursor: pointer;
}

input:hover,
input:focus{
    background-color:#f1faec ;
}

button:hover,
button:focus{
    text-decoration: underline;
}

.btn-white{
    background-color: #fff; 
    border: 1px solid #5f9341;
    color:#5f9341 ;
}
ul{
    list-style: none;
    padding-left: 0;
}

li{
    line-height: 1.6;
    text-align: left;
}

a{
    font-size: 1.25rem;
    color: #5f9341;
    font-weight:inherit;
}

a:hover,
a:focus{
    color: #5f9341;
}